@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.overflow-x-auto {
    scroll-behavior: smooth;
}

@media (min-width: 1024px) {
    #sidebar {
        transform: translateX(0); /* Always visible on large screens */
    }
}
